{% extends 'base.html' %}

{% block title %}{% if category %} {{ category.name }}{% else %} Blog {% endif %}{% endblock %}

{% block content %}

    <h1>All blogs</h1>
    {% for blog in blogs %}
        <div class="card" style="width: 60%">
            <div class="card-body">
                <a href="{% url 'app:blog_detail' blog.slug %}"  style="text-decoration: none;"><h5 style="color:#18bc9c;" class="card-title">{{ blog.title }}</h5></a>
                <p class="card-text"><a  style="text-decoration: none; color: black"><i class="fa-solid fa-star"></i>{{ blog.category }}</a>
                &nbsp;<small class="text-muted">Author: {{ blog.author.username }}  Date: {{ blog.created|date:'d-m-y/H:i' }}</small></p>
                <img style="height: 400px" src="{{ blog.image.url }}" class="card-img-bottom" alt="...">
                <p class="card-text">{{ blog.text|truncatewords:10|safe }}</p>
                <p class="card-text">
                      <small class="text-muted"><i class="fa-solid fa-user"></i> {{ blog.user.username }}</small>
                    {% for tag in blog.tags.all %}
                        <a class="text-muted">{{ tag.name }}</a>
                    {% endfor %}
                <small class="text-muted" style="padding-left: 500px" >
                     <i class="fa-solid fa-eye"></i> {{ blog.views }}
                </small>

                </p>
            </div>
        </div>
        <p></p>
    {% endfor %}
    <hr>
    {% if blogs.has_previous %}
        <a href="?page={{ blogs.previous_page_number }}">Back</a>
    {% endif %}
    {% for l in  blogs.page_range %}
        <li><a href="?page={{forloop.counter}}">{{ forloop.counter }}</a></li>
    {% endfor %}
    {% if blogs.has_next %}
        <a href="?page={{ blogs.next_page_number }}">Next</a>
    {% endif %}

{% endblock %}
